In [4]:
pip install pandas numpy

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
     --------------------------------------- 10.3/10.3 MB 54.4 MB/s eta 0:00:00
Collecting numpy
  Downloading numpy-1.24.2-cp311-cp311-win_amd64.whl (14.8 MB)
     --------------------------------------- 14.8/14.8 MB 50.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ppinh\documents\estudos\pandas-cookbook\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 30.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\ppinh\documents\estudos\pandas-cookbook\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import numpy as np

import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [15]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.117441 -0.274406 -0.264819 -0.291654
2013-01-02 -1.159788 -0.633413 -0.222254  1.714546
2013-01-03 -0.859980 -1.832866  0.800117  2.170092
2013-01-04  1.017299 -0.110402  1.264052 -1.026980
2013-01-05 -0.210647  1.866037  0.060349 -1.637142
2013-01-06 -1.170005  1.291709 -0.512744  0.164521

In [17]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [18]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object